.page-title {
  font-family: Roboto, sans-serif;
  font-size: 4.8rem;
  text-shadow: 0 0.5px 0 #ccc,
               0 1.0px 0 #c9c9c9,
               0 1.5px 0 #bbb,
               0 2.0px 0 #b9b9b9,
               0 2.5px 0 #aaa,
               0 3.0px 0.5px rgba(0,0,0,0.1),
               0 0 2.5px rgba(0,0,0,0.1),
               0 0.5px 1.5px rgba(0,0,0,0.3),
               0 1.5px 2.5px rgba(0,0,0,0.2),
               0 2.5px 5px rgba(0,0,0,0.25),
               0 5px 5px rgba(0,0,0,0.2),
               0 10px 10px rgba(0,0,0,0.15);
}

.page-description {
  font-family: Roboto, sans-serif;
  font-size: 2.4rem;
  font-weight: bolder;
  /*text-shadow: 0px 0px 1px rgba(255,255,255,1.0);*/
}

.clearfloats {
  clear: both;
  display: block;
}
.text-bubble-speaker {
  width: 20%;
  display: inline-block;
  white-space: nowrap;
}
.text-bubble-speaker .speaker-image {
  width: 90%;
}
.text-bubble-speaker .speaker-image img {
  max-width: 100%;
}
.text-bubble-speaker .speaker-name {
  text-align: center;
}
.text-bubble-speaker:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.text-bubble-speaker .speaker-inner {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7em;
}
.text-bubble-speaker.left {
  text-align: right;
}
.text-bubble-speaker.right {
  text-align: left;
}
.text-bubble {
  display: inline-block;
  font-weight: bold;
  position: relative;
  width: 80%;
  min-height: 10px;
  padding: 10px;
  background: #F5F5FF;
  margin: 0.25em 0 0.25em 0;
  z-index: 0;
}
.text-bubble-wrapper.speaker .text-bubble {
  width: 70%;
}
.text-bubble-wrapper.speaker .text-bubble-speaker.left {
  float: left;
}
.text-bubble-wrapper.speaker .text-bubble-speaker.right {
  float: right;
}
.text-bubble-wrapper.speaker .text-bubble.left {
  float: right;
}
.text-bubble-wrapper.speaker .text-bubble.right {
  float: left;
}
.text-bubble.speech {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #07090B solid 2px;
}
.text-bubble.thought {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  border: #7C8084 solid 2px;
}
.text-bubble p {
  margin: 0.15em 0 0.15em 0;
}
.text-bubble:after, .text-bubble:before {
  content: '';
  border-style: solid;
}
.text-bubble:after {
  border-color: transparent #F5F5FF;
}
.text-bubble:before {
  border-color: transparent #07090B;
}
.text-bubble.speech:after, .text-bubble.speech:before {
  position: absolute;
  display: block;
  width: 0;
  top: 25px;
}
.text-bubble.thought:after, .text-bubble.thought:before {
  position:absolute;
  background-color: #F5F5FF;
  border-color: #7C8084;
  border-width: 2px;
}
.text-bubble.speech:after {
  z-index: 2;
}
.text-bubble.speech:before {
  z-index: 1;
}
.text-bubble.thought:after {
  width:20px;
  height:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  z-index: 1;
}
.text-bubble.thought:before {
  width:10px;
  height:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  z-index: 2;
}
.text-bubble.speech.left:after {
  margin-top: 2px;
  border-width: 10px 30px 10px 0;
  left: -29px;
}
.text-bubble.speech.left:before {
  border-width: 12px 30px 11px 0;
  left: -31px;
}
.text-bubble.speech.right:after {
  margin-top: 2px;
  border-width: 9px 0 10px 29px;
  right: -29px;
}
.text-bubble.speech.right:before {
  border-width: 11px 0 13px 31px;
  right: -31px;
}
.text-bubble.thought.left:before {
  bottom: -19px;
  left: 3px;
}
.text-bubble.thought.left:after {
  bottom: -14px;
  left: 8px;
}
.text-bubble.thought.right:before {
  bottom: -19px;
  right: 3px;
}
.text-bubble.thought.right:after {
  bottom: -14px;
  right: 8px;
}

.wordcloud-container {
  display: none;
  overflow: hidden;
}

.floating-cta {
  display: inline;
  position: fixed;
  min-height: 39px;
  max-height: 68px;
  bottom: -6px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 99000;
}

.floating-cta-inner {
  display: block;
  margin: 0 auto;
  padding: 0;
  top: 0;
  max-width: 50%;
  background-color: #2179C2;
  color: #FFF;
  border-bottom: none;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 4px 1px #E0E0E0;
}

.floating-cta-inner:hover {
  background-color: #1169B2;
}

.floating-cta-button {
  display: block;
  margin: 2px auto;
  max-width: 90%;
  border-radius: 3px;
  color: #f0f0f0;
  text-decoration: none;
  text-align: center;
}

.floating-cta-button:hover {
  color: #e0e0e0;
}

.floating-cta-buffer {
  display: block;
  position: relative;
  height: 68px;
  background-color: #FFFFFF;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99001;
}

.mailchimp-slim {
  position: relative;
  margin: 0 15px 0 15px;
  background-color: #fff;
  z-index: 99002;
}

.mailchimp-slim p {
  margin: 0;
  padding: 0 0 0.25rem 0;
}

.mailchimp-slim label {
  font-family: Roboto, sans-serif;
  color: rgb(51, 51, 51);
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  box-sizing: border-box;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height:  30px;
}

.mailchimp-slim input {
  -webkit-writing-mode: horizontal-tb;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  box-sizing: border-box;
  margin: 0;
}

.mailchimp-slim input.email {
  font: inherit;
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  vertical-align: middle;
  border: 1px solid #ccc;

  height: 50px;
  padding-bottom: 17px;
  border: 0px solid #000;
  background-color: rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 2px inset;

  width: 65%;
  float: left;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mailchimp-slim input.button {
  -webkit-appearance: push-button;
  -webkit-user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  color: buttontext;
  padding: 2px 6px 3px 3px;
  border: 2px outset buttonface;
  background-color: buttonface;

  width: 35%;
  margin: 0;
  margin-left: -2px;
  float: left;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50px;
  background-color: rgb(33, 121, 194);
  display: inline-block;
  padding: 9px 15px;
  color: #fff;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border: 0px solid #000;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 2px inset;
}
