<textarea
  autocomplete="off"
  cols="30"
  rows="2"
  maxlength="160"
  required="true"
  spellcheck="false"
  >
  {{ or (.Get "content") ( ( safeHTML .Title )+" "+( .Permalink ) ) }}
</textarea>
<a class="icon-twitter" style="font-size: 1.4em"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <span class="hidden">Twitter</span>
</a>
<a class="icon-facebook" style="font-size: 1.4em"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
    <span class="hidden">Facebook</span>
</a>
<a class="icon-pinterest" style="font-size: 1.4em"
    <span class="hidden">Pinterest</span>
</a>
<a class="icon-google-plus" style="font-size: 1.4em"
   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
    <span class="hidden">Google+</span>
</a>
